html {
    padding: 0;
    margin: 0;    
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;

    background-color: #f3e9df;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
    color: white;

    background-color: #253C78b0;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: xxx-large;

    color: #23B5D3;
}

h2 {
    width: 100%;
    text-align: center;

    color: #F24236;
}

h3 {
    width: 100%;
    text-align: center;
}

a {
    border: 2px solid #3B8EA5;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

    color: white;

    background-color: #3B8EA5b0;
}

.spacer-25 {
    height: 25vh;
}



/*  FORMS inspired by https://www.w3schools.com/howto/howto_css_stacked_form.asp  */

.form-container {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 100%;
}

/* Style inputs */
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    background-color: #3B8EA5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;   
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #253C78;
  }